<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>re>≡CAP 2025</title>
	<meta name="description"
		  content="reCAP: the (un)conference on the SAP Cloud Application Programming Model (CAP)” establishing the link between the CAP community and the CAP development team. It was initiated by our great CAP community and quickly grew to a global onsite and broadcasting event." />
	<meta name="keywords"
		  content="SAP Cloud Application Programming Model, CAP, reCAP, Cloud, SAPCAP" />

	<meta property="twitter:card" content="summary" />
	<meta property="twitter:url" content="https://recap-conf.dev/" />
	<meta property="twitter:title" content="reCAP (un)conference - July 9th, 2025" />
	<meta property="twitter:description"
		  content="re>≡CAP: the (un)conference on the SAP Cloud Application Programming Model (CAP)” establishing the link between the CAP community and the CAP development team. It was initiated by our great CAP community and quickly grew to a global onsite and broadcasting event." />
	<meta property="twitter:image" content="https://recap-conf.dev/images/share-recap.png" />

	<meta property="og:title" content="reCAP (un)conference - July 9th, 2025" />
	<meta property="og:description"
		  content="reCAP: the (un)conference on the SAP Cloud Application Programming Model (CAP)” establishing the link between the CAP community and the CAP development team. It was initiated by our great CAP community and quickly grew to a global onsite and broadcasting event." />
	<meta property="og:image" content="https://recap-conf.dev/images/share-recap.png" />

	<meta name="robots" content="index, follow" />

	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

	<link rel="icon" type="image/svg+xml" href="images/cap-logo.svg" />

	<link rel="icon" type="image/svg+xml" href="../images/cap-logo.svg" />
	<link rel="icon" sizes="any" href="../images/android-chrome-192x192.png" />

	<link rel="stylesheet" href="./../css/common.css" />
	<link rel="stylesheet" href="./../css/modules.css" />
	<link rel="stylesheet" href="./../css/schedule.css" />

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="https://js.tito.io/v2" async></script>
</head>

<body class="schedule">
	<nav class="nav" aria-label="Main navigation" id="nav">
		<ul>
			<li>
				<a href="#" class="" aria-label="Home">
					<span class="sr-only">Link to Home Page</span>
					<img class="logo" src="./../images/recap_logo.svg" alt="logo of recap conference" class="logo">
				</a>
			</li>
		</ul>
	</nav>

	<table class="timetable" id="all">
		<caption></caption>
		<thead>
			<tr>
				<th scope="col">Time</th>
				<th scope="col">Station</th>
				<th scope="col">Session Title</th>
				<th scope="col">Speaker</th>
				<th scope="col">Level</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="event in this.formattedLineup" :key="event.id" v-cloak>
				<th scope="row">{{event.startTime | trimTime}}</th>
				<td>
					<span
						class="agenda-room"
						:class="{
							w1: event.location.toLowerCase().includes('w1') ||
							event.location.toLowerCase().includes('w2'),
							w3: event.location.toLowerCase().includes('w3'),
							experts: event.location.toLowerCase().includes('expert'),
							canteen: event.location.toLowerCase().includes('canteen'),
							other: event.location.toLowerCase().includes('other'),
						}">
						{{ event.location | formatLocation }}
					</span>
				</td>
				<td>{{event.title  | decodeHtml}}</td>
				<td v-if="event.speakers">
					<template
						v-for="(speaker, index) in event.speakers"
						:key="`${speaker.firstName} ${speaker.firstName}`">
						{{speaker.firstName}} {{speaker.lastName}}
						(<span v-html="speaker.company"></span>)<template v-if="index != event.speakers.length - 1">, </template>
					</template>
				</td>
				<td>
					<span
						v-if="event.proficiencyLevel"
						class="agenda-level"
						:class="{
							beginner: event.proficiencyLevel === 'beginner',
							intermediate: event.proficiencyLevel === 'intermediate',
							advanced: event.proficiencyLevel === 'advanced' }">
						{{ event.proficiencyLevel }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="../js/monitor.js"></script>
	<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
	<script src="../js/luxon.min.js"></script>
	<script>
		 createLineupApp('all', session =>
			session.location && (session.location.toLowerCase().includes('w1') || session.location.toLowerCase().includes('w2') || session.location.toLowerCase().includes('audimax') || session.location.toLowerCase().includes('w3'))
		);
	  </script>



</body>
</html>